apiVersion: v1
kind: Service
metadata:
  name: ${{ values.component_id }}
  namespace: ${{ values.namespace }}
  labels:
    app: ${{ values.component_id }}
    environment: ${{ values.environment }}
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: ${{ values.component_id }}


